body {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 40%;
    padding: 0 20px;
    background-color: var(--color4);
}

.infos > * {
    text-align: center;
}

.infos > h1 {
    color: var(--colorW);
    font-size: 3rem;
    font-family: var(--font2);
    font-weight: lighter;
}

.infos > p {
    color: var(--colorW);
    font-size: 1.2rem;
    font-family: var(--font1)
}

.infos > a {
    font-size: 1.2rem;
    font-family: var(--font1);
    font-weight: bolder;
    color: var(--colorW);
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid var(--colorW);
    transition: ease-in-out .3s;
}

.infos a:hover {
    background-color: var(--colorW);
    color: var(--colorB);
}

.addAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: var(--colorW);
}

.addAccount > * {
    text-align: center;
}

.addAccount > h1 {
    color: var(--colorB);
    font-size: 3rem;
    font-family: var(--font2);
    font-weight: lighter;
}

.addAccount > form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

#formLoginUp {
    width: 90%;
    display: flex;
    font-family: var(--font1);
    justify-content: center;
}

#formLoginUp > .container {
    width: 90%;
    margin: auto;
}

.container > .div1, .div2 {
    width: 100%;
    display: flex;
    gap: 20px;
}

.div1 > span, .div2 > span {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.div1 span > input, .div2 > span > input {
    width: 100%;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    padding: 20px;
    background-color: var(--colorT);
    border: 2px solid var(--colorB);
    color: var(--colorB);
    margin: 10px;
}

.robot > span {
    color: var(--colorB);
}

.robot span > a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--color3);
}

.confirmBtn > input[type=submit] {
    border: 2px solid var(--color5);
    border-radius: 25px;
    background-color: var(--color5);
    color: var(--colorW);
    font-size: 1.3rem;
    font-weight: bolder;
    padding: 15px 35px;
    cursor: pointer;
    transition: ease-in-out .3s;
    width: 40%;
}

.confirmBtn > input[type=submit]:hover {
    border: 2px solid var(--color5);
    color: var(--colorB);
    background-color: transparent;
}

#fade {
    z-index: 3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.479);
}

#modal {
    z-index: 4;
    position: fixed;
    padding: 20px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--font2);
    color: var(--colorW);
    font-size: 2.3rem;
    background-color: var(--color3);
    border-radius: 25px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

.modal > ion-icon {
    position: fixed;
    top: 1;
    left: 85%;
    cursor: pointer;
    font-size: 2.4rem;
    transition: ease-in-out .3s;
}

.modal > ion-icon:hover {
    color: var(--color5);
}

.modal > p {
    padding: 50px;
    padding-bottom: 80px;
} 

.modal > button {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: var(--font1);
    background-color: transparent;
    border: 2px solid var(--colorW);
    font-weight: bolder;
    color: var(--colorW);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.modal > button:hover {
    background-color: var(--color5);
    border: 2px solid var(--color5);
}

#fade, #modal {
    transition: all .5s;
}

#fade.hide, #modal.hide {
    opacity: 0;
    pointer-events: none;
}