<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <script src="../../assets/javascript/script.js" defer></script>
    <script src="login.js" defer></script>
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div id="fade" class="hide"></div>
    <div id="modal" class="hide">
        
    </div>
    <section class="loginAccount">
        <h1>Login to Your Account</h1>
        <form action="" method="" id="formLoginIn">
            <div class="container">
                <p id="incorrectInput"></p>
                <section class="div1">
                    <input type="email" name="" id="email" placeholder="Email" autocomplete="off" required>
                    <p id="valueEmail"></p>
                </section>
                <section class="div2">
                    <input type="password" name="" id="password" placeholder="Password" required>
                    <p id="valuePassword"></p>
                </section>
            </div>
            <div class="confirmBtn">
                <input type="button" value="Sign In" id="signin">
            </div>
        </form>
    </section>
    <section class="infos">
        <div id="switch">
            <button></button>
            <span></span>
        </div>
        <h1>New Here?</h1>
        <p>Sign up and discover a great amount of new opportunities</p>
        <a href="../register/register.html">Registtration</a>
    </section>
</body>
</html>